@import "tailwindcss";

  #snow {
    background-image: url("./assets/snowFlake.png");
    background-repeat: repeat;
    background-size: 300px;
    background-color: transparent;
    animation: snow 50s linear infinite;
    opacity: 0.2;
  }

  @keyframes snow {
    0% {
      background-position: 0px -500px;
    }
    100% {
      background-position: 0px 500px;
    }
  }
